.main_chat
  .header
    .header__group-name
      group
    .header__user-name
      Member : ohara
    .edit
    = link_to "#", class: "btn" do
      Edit
  .content
    .contents
      .contents__info
        .contents__info__user-name
          name
        .contents__info__date
          2020/04/28(Tue) 20:20:41
      .contents__message
        message text

    .contents
      .contents__info
        .contents__info__user-name
          name2
        .contents__info__date
          2020/04/30(sat) 20:00:00
      .contents__message
        message text2

  .messages
    .messages__form
      .messages__form__text
        %input{type: "text" ,class: "form"}
        
      .messages__form__img
        %label{class: "image"}
          = icon('far', 'image')
          %input{type: "file" ,class:"input-image"}

    .messages__send
      %input{type: "submit" ,value: "Send" ,class: "sendbtn"}